.cart-product{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}


.cart-product .name{
    width: 80%;
}

.cart-product .price{
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: large;
}

.hr-line{
    background-color: red;
    height: 2px;
    border: none;
}

.text-bold{
    font-weight: 800;
}

.cart-heading{
    text-align: center;
}

.img-fluid{
    width: 350px !important;
    height: 200px !important;
}